
form {
  background-color: white;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

legend {
  font-weight: bold;
  color: #107acc;
  padding: 0 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #2898ee;
  outline: none;
}

input:required,
select:required {
  border-left: 3px solid #0cbccc;
}

textarea {
  resize: vertical;
  min-height: 100px;
}


input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5rem;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline;
  font-weight: normal;
}


input[type="submit"] {
  background-color: #107acc;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

input[type="submit"]:hover {
  background-color: #15297c;
}

input[type="reset"] {
  background-color: #142157;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #0cbccc;
}